#familys-content {
  display: flex;
  flex-direction: column;
}

#learn-content {
  display: flex;
  flex-direction: column;
}

#learn-options {
  display: flex;
}

#comment textarea {
  width: 100%;
  resize: none;
}